/*
  color Pallet
  plain bg: #edeef7
  navy blue[buttons,footer,etc]: #1e3163
  violet[logo,active state] : #7868e6

  Fonts
  logo: Varela Round , sans-serif
  links, text: Poppins, sans-serif

*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Varela+Round&display=swap");

html {
  overflow-x: hidden;
}
body {
  margin: 0;
  background-color: #edeef7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Global button styles*/

.Button-fill {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  width: 80px;
  background: #1e3163;
  outline: none;
  border: none;
  border-radius: 25px;
  border: 1px solid #1e3163;
  color: #fff;
  font-size: 0.7rem;
  transition: all 0.2s ease-in;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}
.Button-hollow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 81px;
  background: transparent;
  outline: none;
  border: 1px solid #1e3163;
  border-radius: 25px;
  color: #1e3163;
  transition: all 0.2s ease-in;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.Button-hollow:hover {
  transform: scale(1.1);
}
.Button-fill:hover {
  transform: scale(1.1);
}
.active {
  border-bottom: 2px solid #7868e6;
}
.navbar-logo-home {
  text-decoration: none;
  color: #000;
}

.navbar-logo-footer {
  color: #edeef7;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.navbar-logo-footer-link {
  color: #edeef7;
}
